<% content_for :header_accessory do %>
  <%= link_to '&#43; Add Trip Plan'.html_safe, new_trip_plan_path, remote: true %>
<% end %>

<h1>Listing Trip Plans</h1>

<ol class="tripPlans">
  <% @trip_plans.each do |trip_plan| %>
    <%= render trip_plan %>
  <% end %>
</ol>
