$("<div class=\"new_trip_plan_container\"><%=j render('form') %></div>").dialog({
  modal: true,
  title: "New Trip Plan",
  position: { my: "top", at: "top+30", of: window },
  width: 500,
  buttons: [
    {
      text: "Create",
      click: function() {
        $(this).find("form.new_trip_plan").submit();
      }
    }
  ]
});
