$("<div class=\"new_trip_plan_container\"><%=j render('form') %></div>").dialog({
  title: "New Trip Plan",
  buttons: [
    {
      text: "Create",
      click: function() {
        $(this).find("form.new_trip_plan").submit();
      }
    }
  ]
});
