<p>
  <strong>Name:</strong>
  <%= @trip_plan.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@trip_plan.image_url, width: 360) if @trip_plan.image.present? %>
</p>

<%= link_to 'Edit', edit_trip_plan_path(@trip_plan) %> |
<%= link_to 'Back', trip_plans_path %>
