<h1>Trip Planning Planner</h1>

<p>It will be the your one stop shop for planning trips that you want to plan.</p>

<p>It should have a list of all of your trip plans as well as a way to add a new trip plan.</p>
