<!DOCTYPE html>
<html>
<head>
  <title>TripPlanningPlanner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="page">
    <p class="masthead">Trip Planning Planner</p>
  </div>
</header>

<main>
  <div class="page">
    <%= yield %>
  </div>
</main>

</body>
</html>
